body{ color: #ddd; }
a{ color:inherit;}
p a { color:#bbb; text-decoration: underline; }
hr { border-color:#bbb; }
.container { width:80%; }
#materialbox-overlay { background: 	black; }
.event { margin-bottom:20px; }

h4, h5, p{ 
	font-weight: 	100;
	font-family: 	'Belleza';
	text-transform: uppercase;;
	letter-spacing: 1.5px;
	color: 			#bbb;
}

h5{
	font-size:0.8em;
	text-align: center;
}

h4 { 
	font-size: 		1em;
	margin-bottom:	20px;
}

p { 
	font-size:		0.7em;
	margin-top:		-15px;
	margin-bottom:	10px;
}

.row{
	margin-bottom:10px;
}
