body{ color: #ddd; }

h1{ 
	color: #ccc;
	font-family: 	'Belleza', sans-serif; 
	font-size: 		3em; 
	display: 		inline-block; 
	text-transform: uppercase; 

	margin-bottom:	0px; 
	margin-top:		20px; 
	margin-left:	10px; 
	padding-bottom:	0px; 
	letter-spacing: 4px;
}

h1 small {
	color: 			#bbb; 
	letter-spacing:	0px;	
}

p#bio br { 
	line-height:	200%;
}

.row{ 
	margin-bottom:	0px; 
}

hr{
	border-color: #999;
	background:none;
	color:none;
}


/*small-view*/

.small-view h1 { 
	margin:		10px; 
	text-align:	center !important;
}

.small-view ul { 
	text-align: center;
	font-size: 1em;
	border-top: 	1px solid #bbb; 
	border-bottom: 	1px solid #bbb;
}

.small-view ul.top-nav { 
	margin:			10px; 
	margin-top:		10px; 
	margin-bottom:	20px; 
	padding:		10px;
}

.small-view p#bio {
	margin:		30px;
	color: 		#bbb; 
	text-align: justify; 
}

/*big-view*/

.big-view h1 small{ 
	margin-left:	20px;
}

.big-view #name { 
	text-align: 	right !important; 
}

.big-view p#bio { 
	margin-top:		25px; 
	padding-right:	30px;
	margin-left:	15px; 
	font-size: 		1.05em; 
	text-align: 	justify; 
	font-weight: 	100; 
	border-left: 	1px solid #ddd;
	padding-left:	15px;
}


#image-bg { 
	background: url('../img/bg.png') no-repeat; 
}

#image-shading{
	margin:			0px;
	margin-right:   -12px; 
	margin-bottom:  -20px;
	
	padding:        0px; 
	padding-right:  12px; 

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0+1,1+98 */
	background:    -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,1) 98%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background:        -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(1%,rgba(0,0,0,0)), color-stop(98%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,1) 98%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background:      -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,1) 98%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background:     -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,1) 98%,rgba(0,0,0,1) 100%); /* IE10+ */
	background:         linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,1) 98%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
}
