html { 
	background: black; 
	color: 		white; 
}
body {
	margin-left: 	auto; 
	margin-right:	auto; 
}
.container { 
	width:	97%; 
}


/* NAV */

ul.nav li a{ 
	color:	#bbb;
}

ul.nav li:hover a{ 
	color:	white !important; 
}

ul.nav .active{ 
	color:			white; 
	font-weight: 	400; 
}

/* HOME-NAV */

ul.home-nav{ 
	margin-right:	-12px; 
	margin-top:     -3px; 
	margin-bottom:  0px; 
	padding:        20px; 
	text-align:     right; 
}

ul.home-nav li a{ 
	line-height: 	260%;
	font-family: 	'Belleza';
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 		1.2em; 
	font-weight: 	100; 
}

/* TOP-NAV */

ul.top-nav li{
	display:		inline-block;
	font-family: 	'Belleza';
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size:		1.2em; 
	font-weight: 	100; 
	color:			#bbb;

	margin-right:	10px;
	margin-left:	10px;
} 

img.materialboxed:hover{
	opacity:1 !important;
}