/* WORK */

h4, p, a { 
	font-weight: 	100;
	font-family: 	'Belleza';
	text-transform: uppercase;;
	letter-spacing: 2px;
	color: 			#bbb;
}

h4 { 
	font-size: 		1.0em;
	margin-bottom:	5px;
	white-space:	nowrap;
}

h4.title {
  white-space: inherit;
}

a.links span{
	color  		: #bbb !important;
}

p { 
	font-size:		0.7em;
	margin-top:		5px;
	margin-bottom:	1px;
}

.row { 
	margin-bottom:	0px; 
}

i.material-icons { 
	color: 	#bbb; 
}

#materialbox-overlay { 
	background: 	black; 
}

.content{ 
	text-align: 	center; 
}

table { 
	table-layout: 	fixed; 
}

.inst { 
	text-align: 	center; 
	color:			#bbb;
}

/* body#work tr alignments */

tr.tr-top 	 td { vertical-align: top; }
tr.tr-bottom td { vertical-align: bottom; }

div.small-top-row{ margin:10px; }
div.small-nav-row{ margin-top:20px; margin-bottom:20px; }

.left-right .material-placeholder{
	height:100%;
}

/* .big-view */

.big-view .left-rec .material-placeholder img, 
.big-view .right-rec .material-placeholder img {
	/*display: 	inline-block; */
	/*width:		45%;*/
	/*height: 100%;*/
	/*width: auto;*/
}

.big-view .top-bottom .material-placeholder {
	display: 	inline-block;
}

.big-view .detail-rec .material-placeholder{
	display: inline-block;
	/*padding-right:10px;*/
}

.big-view .detail-rec img{
	width: 75px;
}

/* .small-view */

.small-view .detail-rec {
	padding:	30px;
}
.small-view .detail-rec .material-placeholder{
	display: inline-block;
	/*padding:10px;*/
}

.small-view .detail-rec img{
	width:		100px; 
}

