---
layout: default
---

{% include nav.html %}

{% assign categories = site.data.categories %}
{% for cat_id in categories.list %}
{% assign cat = categories[cat_id] %}
<div class="row justify-content-start align-items-center p-2">
  <div class="col-xs-12 col-sm-2 text-center text-md-right py-1">
    <h6 id="directory-title" 
        class="align-middle fancy-font">
      {{cat.displayname}}
    </h6>
  </div>
  <div class="col-xs-12 col-sm-10 text-center text-md-left">
    {% for work in cat.works %}
    <a id="directory-thumbnail" 
       class="p0 m0"
       href="{{cat_id}}/{{work}}">
      <img src="/assets/images/{{work}}/thumb.png" height="55" width="55">
    </a>
    {% endfor %}
  </div>
</div>
{% endfor %}


