
<!DOCTYPE html>
<html>
  <head>
    <title>Marilyn J. Friedman • Sculptor</title>

    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <link href='http://fonts.googleapis.com/css?family=Belleza' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" type="text/css" href="css/directory.css" />

  </head>

  <body id='directory'>
    <div class='container works'>
      <div class='row'>
        <div class='col s12 center-align'>
          <ul class='nav top-nav'>
            <li><a href='index.html'>home</a></li>
            <li><a href='resume.pdf'>resume</a></li>
            <li><a href='mailto:marilynjfriedman@gmail.com'>contact</a></li>
          </ul>
          <hr/> <br/>
        </div>
      </div>
      <!-- directory-template gets appended here -->
    </div>
  </body>

  <script type='text/template' id='directory-template'>
  
    <% for(var i = 0; i < ord.length; i++) { %> 
      <div class='row'>
        <div class='col s12 m4 name-col'>
          <h4 class='hide-on-small-only right-align <%=(curr==ord[i])?"active":""%>' id=<%=ord[i]%> >  
            <%=dir[ord[i]].name%> 
          </h4>
          <h4 class='hide-on-med-and-up center-align <%=(curr==ord[i])?"active":""%>' id=<%=ord[i]%> >  
            <%=dir[ord[i]].name%> 
          </h4>
        </div>
        <div class='col s12 m8 pieces-col'>
          <% for(var j = 0; j < dir[ord[i]].works.length; j++) {%>
            <% work = lib[dir[ord[i]].works[j]]; %>
            <a class='' href="work.html?id=<%=dir[ord[i]].works[j]%>">
              <img class='work-thumbnail' src='images/<%=ord[i]%>/<%=dir[ord[i]].works[j]%>/thumb.png'/>
            </a>
          <% } %>
        </div>
      </div>
    <% } %>

  </script>

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js"></script>
  <script src="js/data.js"></script>
  <script src="js/home.js"></script>

</html>
