---
layout: default
---

{% include nav.html %}

{% assign evs = site.data.events %}
<div class="row">
  {% for e in evs %}
  <div class="col col-xs-6 col-md-4">
    <figure class="figure">
      <img src="/assets/images/{{e.id}}/thumb.png" 
        class="img-fluid rounded mx-auto d-block">
      <figcaption class="fancy-font text-center p-2">
        <a href="/events/{{e.link}}" 
           class="stretched-link events-link text-reset">
          {{e.displayname}}
        </a>
      </figcaption>
    </figure>
  </div>
  {% endfor %}
</div>
