html{ background: black; color: white; }

body {margin-left: auto; margin-right:auto; }

.container{
	width:90%;
}

h1{ font-family: 'Belleza', sans-serif; font-size: 3em; color: #ddd; display: inline-block; text-transform: uppercase; margin-bottom:0px; margin-top:20px; margin-left:10px; padding-bottom:0px; }

h1#prof{ color: #bbb; }

/* NAV */

ul#nav{ margin-right: -12px; margin-top: -3px; margin-bottom:0px; padding: 20px; }

ul#nav{ text-align: right; }

ul#nav li a{ color:#ddd; font-weight: 100; font-size: large; line-height: 260%; }

ul#nav li:hover a{ color: #2A5DB0; }

ul#nav li.active a{ color:white !important; font-weight: 200; }

ul#nav li.active a::before{ /*content: ">";*/ }


ul#topnav{
	padding-bottom:10px; margin-bottom:-10px; text-align:center;
}
ul#topnav li{
	display: inline-block;
}
ul#topnav li a{
	color: #ddd; font-weight: 300; padding:4px;
}

/* HOMEPAGE */

div#headerrow{ margin-bottom:0px; }

body#homepage p#bio { margin-top:25px; margin-left:10px; font-size: 0.89em; text-align: justify; color: #ddd; font-weight: 100; }

body#homepage p#bio br { line-height: 200%; }

body#homepage #headerrow{ background: url('img/bg.png') no-repeat; }

body#homepage #port{
	margin:0px; padding:0px; margin-right:-12px; padding-right:12px; margin-bottom:-20px;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0+1,1+98 */
	background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,1) 98%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(1%,rgba(0,0,0,0)), color-stop(98%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,1) 98%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,1) 98%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,1) 98%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,1) 98%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
}

body#homepage .row, body#work .row{ margin-bottom:0px; }




/* DIRECTORY */

body#directory  h4{ font-size:1.5em; margin:20px; font-weight: 100;}


body#directory ul#topnav .active{
	color:white; font-weight: 400;
}
body#directory span#work-title{
	padding-left: 10px; 
	color:white; font-weight: 100;
}

body#directory td.pieces{
	padding:20px;
}

body#directory td.name{
	border-right: 1px solid white;
}

/*body#directory table td{ border: 1px solid white; }*/

body#directory table { table-layout: fixed; }

body#directory table .row { margin-bottom:0px;}


/* WORK */

div#materialbox-overlay{ background: black; }
/*body#work td { border: 1px solid white;}*/

.content{ text-align: center; }

body#work table { table-layout: fixed; }
body#work h4 { font-weight: 100; font-size: 1.4em; margin-bottom:5px; white-space:nowrap;}
body#work p { font-weight: 100; margin-top:5px; }
body#work tr.tr-top td { vertical-align: top; }
body#work tr.tr-bottom td { vertical-align: bottom; }
body#work td.td-left { text-align: right; }
body#work td.td-left { min-width: 30%; max-width: 40%; }
body#work td.td-center { text-align: center;}
body#work td.td-right { text-align: left; }
body#work td.td-right img { width: 75px; }
/*body#work td.td-right .material-placeholder { display: inline-block; }*/
body#work td, body#work tr { margin-bottom:0px; }



body#work .inst{ text-align: center; color:#bbb; }









