
<!DOCTYPE html>
<html>
  <head>
    <title>Marilyn J. Friedman • Sculptor</title>

    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <link href='http://fonts.googleapis.com/css?family=Belleza' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" type="text/css" href="css/work.css" />

  </head>

  <body id='work'>
    <div class='container'>
      <div class='row'>
        <ul class='nav top-nav'> 
          <li>
            <a href="index.html">
              Home
            </a>
          </li> 
        </ul>
      </div>
      <div class='row content-row'>
        <div class='col s12 content-col'>
          <span class='content'> </span>
        </div>
      </div>
    </div>
  </body>


  <script type='text/template' id='left-arrow-template'>
    <a class='black white-text' href='<%=link%>'> 
      <i class='material-icons small'>keyboard_arrow_left</i> 
    </a>
  </script>

  <script type='text/template' id='right-arrow-template'>
    <a class='black white-text' href='<%=link%>'> 
      <i class='material-icons small'>keyboard_arrow_right</i> 
    </a>
  </script>

  <script type='text/template' id='plaque-template'>
    <h4><%=name%></h4>
    <p> <%=materials%><br/> <%=x%>'' x <%=y%>'' x <%=z%>''h </p>
  </script>


  <script type='text/template' id='work-template'>

    <!-- mobile - for small + med -->
    <span class='hide-on-large-only small-view'>

      <div class='row small-top-row'>

        <div class='col s4 arrow-back'> </div>

        <div class='col s4 inst'> <p>Tap to Zoom</p> </div>

        <div class='col s4 arrow-forward'> </div>

      </div>

      <div class='row small-image-row'>

        <div class='s12'>
          <table>
            <tr>  
              <% if ( images==1 ) { %>
                
                <td class='td-center' colspan=2>
                  <img class="main-image responsive-img materialboxed" src='images/<%=category%>/<%=id%>/main.png'/>
                </td>

              <% } else if ( images == 2 && layout == 'left-right' ) { %>

                <td class='td-center' colspan=2>
                  <img class="left-image responsive-img materialboxed" src='images/<%=category%>/<%=id%>/left.png' />
                </td>
                <td class='td-center' colspan=2>
                  <img class="right-image responsive-img materialboxed" src='images/<%=category%>/<%=id%>/right.png' />
                </td>

              <% } else if ( images == 2 && layout == 'top-bottom' ) { %>

                <td class='td-center' colspan=2>
                  <img class="top-image responsive-img materialboxed" src='images/<%=category%>/<%=id%>/top.png'/>
                  <img class="bottom-image responsive-img materialboxed" src='images/<%=category%>/<%=id%>/bottom.png'/>
                </td>

              <% } else if ( images == 3 ) {%>

              <% } %>

            </tr>
          </table>
        </div>

      </div>

      <div class='row small-text-row'>

        <div class='s12 plaque'> </div>

      </div>

      <div class='row small-detail-row'>

        <% if (details == 0 ) { %>

        <% } else if (details == 1 ) { %>

          <td class='detail-td' style='vertical-align:bottom'>
            <img class="detail-image responsive-img materialboxed" src='images/<%=category%>/<%=id%>/detail.png' />
          </td>

        <% } else if (details == 2 ) { %>

          <td class='detail-td' style='vertical-align:bottom'>
            <img class="detail-image responsive-img materialboxed" src='images/<%=category%>/<%=id%>/detail-1.png' />
          </td>
          <td class='detail-td' style='vertical-align:bottom'>
            <img class="detail-image responsive-img materialboxed" src='images/<%=category%>/<%=id%>/detail-2.png' />
          </td>

        <% } %>

      </div>

    </span>

    <!-- computer - for large only -->

    <span class='hide-on-med-and-down big-view'>
      <table>
        <tr class='tr-top'>

          <td class='td-left arrow-back'> </td>

          <% if ( images==1 ) { %>

            <td class='td-center image-td one-image' rowspan=2>
              <img class="main-image responsive-img materialboxed" src='images/<%=category%>/<%=id%>/main.png'/>
            </td>

          <% } else if ( images == 2 && layout == 'left-right' ) { %>

            <td class='td-center image-td two-images left-right' colspan=2 rowspan=2>
              <img class="left-image responsive-img materialboxed" src='images/<%=category%>/<%=id%>/left.png' />
              <img class="right-image responsive-img materialboxed" src='images/<%=category%>/<%=id%>/right.png' />
            </td>

          <% } else if ( images == 2 && layout == 'top-bottom' ) { %>

            <td class='td-center image-td two-images top-bottom' colspan=2 rowspan=2>
              <img class="top-image responsive-img materialboxed" src='images/<%=category%>/<%=id%>/top.png'/>
              <img class="bottom-image responsive-img materialboxed" src='images/<%=category%>/<%=id%>/bottom.png'/>
            </td>

          <% } else if ( images == 3 ) {%>

          <% } %>

          <td class='td-right arrow-forward'> </td>

        </tr>

        <tr class='tr-bottom'>

          <td class='td-left plaque'> </td>

          <td class='td-right'>

            <% if (details == 0 ) { %>

            <% } else if (details == 1 ) { %>

              <img class="detail-image responsive-img materialboxed" src='images/<%=category%>/<%=id%>/detail.png' />

            <% } else if (details == 2 ) { %>

              <img class="detail-image responsive-img materialboxed" src='images/<%=category%>/<%=id%>/detail-1.png' />
              <img class="detail-image responsive-img materialboxed" src='images/<%=category%>/<%=id%>/detail-2.png' />

            <% } %>

          </td>
        </tr>
      </table>  
    </span>

  </script>


  <script type='text/template' id='nav-item-template'>
      <%for(var i = 0; i < nav.length; i++){%>
        <%if(nav[i].type=='category'){%>
        <li> <a href='directory.html?c=<%=nav[i].link%>'>
          <%=nav[i].name%>
        </a> </li>
        <%}%>
      <%}%>
  </script>

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
  <script src="js/data.js"></script>
  <script src="js/home.js"></script>

</html>
