{% comment %}
  Args:
    name
    materials
    materials2
    materials3
    materials4
    x
    y
    z
{% endcomment %}

{% if include.name %}
<p id="sculpture-plaque-title" class="fancy-font font-italic my-0 mx-0 align-bottom">
  {{include.name}}
</p>
{% endif %}

{% if include.materials %}
<p id="sculpture-plaque-materials" class="plain-font my-0 mx-0 align-bottom">
    {{include.materials}}
</p>
{% endif %}

{% if include.materials2 %}
<p id="sculpture-plaque-materials" class="plain-font my-0 mx-0 align-bottom">
    {{include.materials2}}
</p>
{% endif %}

{% if include.materials3 %}
<p id="sculpture-plaque-materials" class="plain-font my-0 mx-0 align-bottom">
    {{include.materials3}}
</p>
{% endif %}

{% if include.materials4 %}
<p id="sculpture-plaque-materials" class="plain-font my-0 mx-0 align-bottom">
    {{include.materials4}}
</p>
{% endif %}

{% if include.x and include.y and include.z %}
<p id="sculpture-plaque-size" class="plain-font my-0 mx-0 align-bottom">
  {{include.x}} x {{include.y}} x {{include.z}} in
</p>
{% endif %}
