{% comment %}
  Args:
    num_images: The number of images to display
		orientation: If |num_images| == 2, this must be either "top-bottom" or
      "left-right". If "top-bottom", the two images are expected to be landscape
      orientation, and will display one above the other. If "left-right", the
      two images are expected to be portrait orientation, and will display one
      after another.
    path: The path to the directory containing the images.

  Confused about flexbox? Don't worry, me too.
  https://getbootstrap.com/docs/4.4/utilities/flex/#direction
{% endcomment %}

{% assign pMain   = include.path | append: "/main.png"   %}
{% assign pTop    = include.path | append: "/top.png"    %}
{% assign pBottom = include.path | append: "/bottom.png" %}
{% assign pLeft   = include.path | append: "/left.png"   %}
{% assign pRight  = include.path | append: "/right.png"  %}

{% if include.num_images == 1 %}
  <div class="d-flex flex-row justify-content-center">
    <div> {% include sculpture-image-and-modal.html path=pMain identifier="main" %} </div>
  </div>
{% elsif include.num_images == 2 %}
  {% if include.orientation == "top-bottom" %}
    <!--top-bottom-->
    <div class="d-flex flex-column">
      <div class="pb-1"> {% include sculpture-image-and-modal.html path=pTop identifier="top" %} </div>
      <div class="pt-1"> {% include sculpture-image-and-modal.html path=pBottom identifier="bottom" %} </div>
    </div>
  {% else %}
    <!--left-right-->
    <div class="d-flex flex-row justify-content-center">
      <div class="pr-1"> {% include sculpture-image-and-modal.html path=pLeft identifier="left" %} </div>
      <div class="pl-1"> {% include sculpture-image-and-modal.html path=pRight identifier="right" %} </div>
    </div>
  {% endif %}
{% endif %}
