---
layout: default
---

{% include nav.html %}

<div class="row">
  <div class="col-12 col-lg-10">
    <div class="row" >
      <div class="col-12 col-lg-8">
         {% include sculpture-image-and-modal.html
            path="/assets/images/asl/working.jpeg" 
            identifier="working" %}
      </div>
      <div class="col-12 col-lg-4">
        {% include sculpture-image-and-modal.html
           path="/assets/images/asl/interview.jpeg" 
           identifier="interview" %}
         <div class="w-100 py-1"></div>
         {% include plaque.html
            materials="MARILYN FRIEDMAN INTERVIEWED ON LIVE STREAMING VIDEO BEFORE A WORLDWIDE AUDIENCE." %}
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-2 text-center text-lg-right py-2 py-lg-0">
    {% include arrow-left.html url="/events/blue-hill" %}
    {% include arrow-right.html url="/events/walking-figure" %}
    {% include plaque.html 
       name="LIVE DEMONSTRATION WITH THREE CONTEMPORARY MASTERS"
       materials="THE ART STUDENTS LEAGUE OF NEW YORK"
       materials2="DECEMBER 2017"
    %}
  </div>
</div>
