---
layout: default
---

{% include nav.html %}

<div class="row p-2" >
  <div class="col-12 col-lg-10">
    {% include sculpture-image-and-modal.html
       path="/assets/images/belskie/landscape-1.png" 
       identifier="main" %}
    <div class="w-100 py-2"></div>
    {% include sculpture-image-and-modal.html
       path="/assets/images/belskie/landscape-2.png" 
       identifier="second" %}
  </div>
  <div class="col-12 col-lg-2 text-center text-lg-right py-2 py-lg-0">
    {% include arrow-left.html url="/events/pomona" %}
    {% include arrow-right.html url="/events/blue-hill" %}
    {% include plaque.html 
       name="IN THEIR ELEMENT - FOUR ARTISTS FOUR MEDIUMS"
       materials="THE BELSKIE MUSEUM OF ART, CLOSTER, NJ"
       materials2="WINTER 2012"
       materials3="TWENTY FIVE SCULPTURES"
    %}
  </div>
