---
layout: default
---

{% include nav.html %}

<div class="row">
  <div class="col-12 col-lg-10" style="display:flex;">
        <div class="mx-2" style="flex:0.533333333;">
          <!--1120x2100 => 1120/2100 = 0.533333333-->
          {% include sculpture-image-and-modal.html
             path="/assets/images/blue-hill/left.png" 
             identifier="left" %}
        </div>
        <div class="mx-2" style="flex:1.22878877;">
          <!--2100x1709 => 2100/1709 = 1.22878877-->
          {% include sculpture-image-and-modal.html
             path="/assets/images/blue-hill/main.png" 
             identifier="main" %}
        </div>
        <div class="mx-2" style="flex:0.58047619;">
          <!--1219x2100 => 1219/2100 = 0.58047619-->
          {% include sculpture-image-and-modal.html
             path="/assets/images/blue-hill/right.png" 
             identifier="right" %}
        </div>
  </div>
  <div class="col-12 col-lg-2 text-center text-lg-right py-2 py-lg-0">
    {% include arrow-left.html url="/events/belskie" %}
    {% include arrow-right.html url="/events/asl" %}
    {% include plaque.html 
       name="REVEALING COMMON GROUND"
       materials="BLUE HILL ART & CULTURAL CENTER, NY"
       materials2="SPRING 2015"
       materials3="FIVE SCULPTURES"
    %}
  </div>
</div>
