---
layout: default
---

{% include nav.html %}


<div class="row">
  <div class="col-12 text-center d-flex flex-column" style="font-size: 0.90em;">
    <h2 class="fancy-font" style="font-size: 1.25em;"> The Art Students League of New York Gala Award Sculpture </h2>
  </div>
  <div class="col-12 col-lg-6 text-center text-lg-right d-flex align-items-end flex-column" style="font-size: 0.90em;">
    <div class="pt-auto pb-0 mb-0 mt-auto w-100">
      <p>
      Ms. Friedman was commissioned to cast a bronze edition<br/>
      of one of her sculptures as the award presented to<br/>
      Honorees at the League’s Annual Gala.<br/><br/>

      2022 - 2025 Honorees include Faith Ringgold, Larry Poons,<br/>
      Beth Rubin De Woody, Louise Nevelson (In Memorium), James Little;<br/>
      150th Anniversary Honoree: The Robert Rauschenberg Foundation
      </p>
    </div>
    <div class="pt-2 pb-0 mb-0 mt-2 w-100 w-lg-50">
      {% include sculpture-image-and-modal.html
          path="/assets/images/gala-award-sculpture/center.jpg" 
          identifier="center" %}
    </div>
  </div>

  <div class="col-12 col-lg-6 text-center text-lg-left py-2">
    {% include sculpture-image-and-modal.html
        path="/assets/images/gala-award-sculpture/right.jpg" 
        identifier="right" %}
  </div>
</div>
<div class="row">
  <div class="col-12 text-center text-lg-right py-2">
    {% include plaque.html 
    name="GALA AWARD SCULPTURE"
    materials="Bronze, Edition of 14"
    materials2="2.75 x 3 x 12 in"
    materials3="2022"
    %}
  </div>
</div>

<div class="row">
  <div class="col-12 text-center">
    {% include arrow-left.html url="/events/walking-figure" %}
    {% include button-grid.html url="/events" %}
    {% include arrow-right.html url="/events" %}
  </div>
</div>
