---
layout: default
---

{% include nav.html %}


<div class="row">
  <div class="col-12 col-lg-10">
    <div class="row align-items-middle" >
      <div class="col h-100">
         {% include sculpture-image-and-modal.html
            path="/assets/images/pomona/main.png" 
            identifier="main" %}
      </div>
      <div class="col h-100">
         {% include sculpture-image-and-modal.html
            path="/assets/images/pomona/right.png" 
            identifier="third" %}
      </div>
      <div class="w-100 py-2"></div>
      <div class="col">
        {% include sculpture-image-and-modal.html
           path="/assets/images/pomona/bottom.png" 
           identifier="bottom" %}
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-2 text-center text-lg-right py-2 py-lg-0">
    {% include arrow-left.html url="/events/belskie" %}
    {% include arrow-right.html url="/events/blue-hill" %}
    {% include plaque.html 
       name="PRIMAL IMAGES - PIGMENT & CLAY"
       materials="THE POMONA CULTURAL CENTER, NY"
       materials2="SUMMER 2014"
       materials3="TWENTY ONE SCULPTURES"
    %}
  </div>
</div>
