---
layout: default
---

{% include nav.html %}

<div class="row">
  <div class="col-12 col-lg-10">
    <div class="row">
      <div class="col text-lg-right">
        {% include sculpture-image-and-modal.html
           path="/assets/images/events-walking-figure/main.png" 
           identifier="main" %}
      </div>
      <div class="col">
        {% include sculpture-image-and-modal.html
           path="/assets/images/events-walking-figure/second.png" 
           identifier="second" %}
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-2 text-center text-lg-right py-2 py-lg-0">
    {% include arrow-left.html url="/events" %}
    {% include arrow-right.html url="/events/belskie" %}
    {% include plaque.html 
       name="WALKING FIGURE" 
       materials="BOYD SCULPTURE GARDEN, NJ"
       materials2="INSTALLATION 2009"
       materials3="6 FT FIRED CLAY ENLARGEMENT OF 4 FT ORIGINAL."
    %}
  </div>
</div>
